<section id="saleitems" class="container">
    <h1>All Posts</h1>

    {{#each posts as |post|}}
     
    <div class="gig">
      <a href= {{post_link post.id}}><h3>{{post.post_name}}</h3></a>
      <p>posted on {{post.date_created}} by {{user.user_name}}</p>
      <p>{{post.description}}</p>
     
    </div>


    {{/each}}

   
   
  </section>