<section id="saleitems" class="container">
    <h1>{{post.post_name}}</h1>
    <h3>By {{post.user.user_name}}</h3>


    <p>{{post.description}}</p>


<form action="/api/posts/comment" method="POST">
                        <div class="input-group">

                            <textarea name="description" id="description" class="input-box"
                                placeholder="Comment..." rows="10" value={{description}}></textarea>
                        </div>

                        <input type="submit" class="btn btn-reverse">
                    </form>



 {{#each post.comments as |comment|}}

     
    <div class="gig">
      <p>{{comment.description}}</p>
      
    </div>



    {{/each}}



</section>